DATABASE_URL="postgresql://courshare:courshare@localhost:5432/enrollment_db?schema=public"
AWS_REGION="us-east-1"
AWS_ACCESS_KEY="your_aws_access_key_id"
AWS_SECRET_KEY="your_aws_secret_access_key"
PAYMENT_SQS_QUEUE_URL="https://sqs.us-east-1.amazonaws.com/your_account_id/your_queue_name"
SQS_QUEUE_URL="https://sqs.us-east-1.amazonaws.com/your_account_id/your_queue_name"